{% extends "base.html" %}

{% block extra_title %}| Add Product{% endblock %}

{% block content%}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }} text-center alert-info"> {{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<section class="d-flex flex-column justify-content-center align-items-center px-5">
    <h2 class="mb-5 h1">Add Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="clearfix">
            <a href="{{ request.META.HTTP_REFERER }}" class="hover-border float-left">Cancel</a>
            <button type="submit" class="cta btn float-right">Save Changes</button>
        </div>
    </form>
</section>
{% endblock %}