{% extends "base.html" %}

{% block extra_title %}| Edit Product{% endblock %}

{% block content%}
<section class="d-flex flex-column justify-content-center align-items-center px-5">
    <h2 class="mb-5 h1">Edit Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="clearfix">
            <a href="{{ request.META.HTTP_REFERER }}" class="hover-border float-left">Cancel</a>
            <button type="submit" class="cta btn float-right">Save Changes</button>
        </div>
    </form>
</section>
{% endblock %}