{% extends "base.html" %}
{% load static %}
{% block meta_info %}
<meta name="description"
    content="Explore our ever expanding collection of Nintendo Switch games, accessories, and consoles. Discover the latest Nintendo offerings all in one place.">
<meta name="keywords"
    content="Nintendo Switch, Nintendo Switch games, Nintendo games, Nintendo accessories, Nintendo Switch accessories">
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'consoles/css/consoles.css' %}">
{% endblock %}
{% block header %}
<a href="{% url 'nintendo' %} " aria-label="Click here on the Nintendo title to go to the nintendo page"
    title="Nintendo">
    <h1 class="d-flex justify-content-center align-items-center p-4 nintendo">Nintendo
    </h1>
</a>
{% endblock %}
{% block subnav %}
<section id="sub-navigation" class="btn-group btn-group-sm d-flex justify-content-center align-items-center"
    role="group" aria-label="Nintendo sub-navigation. Select to filter games, consoles, or accessories.">
    <button type="button" class="btn-sm subnav-btn nintendo rounded-0" data-subnav="Game" title="Games">Games</button>
    <button type="button" class="btn-sm subnav-btn nintendo rounded-0 mx-1" data-subnav="Console"
        title="Consoles">Consoles</button>
    <button type="button" class="btn-sm subnav-btn nintendo rounded-0" data-subnav="Accessory"
        title="Accessories">Accessories</button>
</section>
{% endblock %}
{% block content%}
{% include "includes/items.html" %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'consoles/scripts/consoles.js' %}"></script>
{% endblock %}