{% extends "base.html" %}
{% load static %}
{% block meta_info %}
<meta name="description"
    content="Explore our ever expanding collection of PlayStation 5 games, accessories, and consoles. Discover the latest PS5 offerings all in one place.">
<meta name="keywords"
    content="PS5, PlayStation 5, PS5 games, PlayStation 5 games, PS5 accessories, PlayStation 5 accessories">
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'consoles/css/consoles.css' %}">
{% endblock %}
{% block header %}
<a href="{% url 'home' %} " aria-label="Click here on the Playstation title to go to the home page" title="Playstation">
    <h1 class="d-flex justify-content-center align-items-center p-4 playstation">Playstation
    </h1>
</a>
{% endblock %}
{% block subnav %}
<section id="sub-navigation" class="btn-group btn-group-sm d-flex justify-content-center align-items-center"
    role="group" aria-label="PlayStation sub-navigation. Select to filter games, consoles, or accessories.">
    <button type="button" class="btn-sm playstation rounded-0" title="games">Games</button>
    <button type="button" class="btn-sm playstation rounded-0 mx-1" title="consoles">Consoles</button>
    <button type="button" class="btn-sm playstation rounded-0" title="accessories">Accessories</button>
</section>
{% endblock %}
{% block content%}
{% include "includes/items.html" %}
{% endblock %}