{% extends "base.html" %}
{% load static %}
{% block meta_info %}
<meta name="description"
    content="Explore our ever expanding collection of Xbox series x and Xbox series s games, accessories, and consoles. Discover the latest Xbox offerings all in one place.">
<meta name="keywords"
    content="Xbox, Xbox Series X, Xbox Series S, Xbox games, Xbox Series X games, Xbox Series S games, Xbox accessories, Xbox Series X accessories, Xbox Series S accessories">
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'consoles/css/consoles.css' %}">
{% endblock %}
{% block extra_title %}| Xbox{% endblock %}
{% block header %}
<a href="{% url 'xbox' %} " aria-label="Click here on the Xbox title to go to the xbox page" title="Xbox">
    <h1 class="d-flex justify-content-center align-items-center p-4 xbox">Xbox
    </h1>
</a>
{% endblock %}
{% block subnav %}
<section id="sub-navigation" class="btn-group btn-group-sm d-flex justify-content-center align-items-center"
    role="group" aria-label="Xbox sub-navigation. Select to filter games, consoles, or accessories.">
    <button type="button" class="btn-sm subnav-btn xbox rounded-0" data-subnav="Game" title="Games">Games</button>
    <button type="button" class="btn-sm subnav-btn xbox rounded-0 mx-1" data-subnav="Console" title="Consoles">Consoles</button>
    <button type="button" class="btn-sm subnav-btn xbox rounded-0" data-subnav="Accessory" title="Accessories">Accessories</button>
</section>
{% endblock %}
{% block content%}
{% include "includes/items.html" %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'consoles/scripts/consoles.js' %}"></script>
{% endblock %}