{% extends "base.html" %}
{% load static %}
{% block meta_info %}
<meta name="description" content="Explore our ever expanding collection of Xbox series x and Xbox series s games, accessories, and consoles. Discover the latest Xbox offerings all in one place.">
<meta name="keywords"
    content="Xbox, Xbox Series X, Xbox Series S, Xbox games, Xbox Series X games, Xbox Series S games, Xbox accessories, Xbox Series X accessories, Xbox Series S accessories">
{% endblock %}
{% block content%}
<h1 class="display-4 text-success">Xbox</h1>
{% endblock %}