{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Shopping Bag{% endblock %}

{% block content %}
<section class="container mb-2 d-flex flex-column justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <h2 class="text-center h1">Shopping Bag</h2>
            <div class="d-block d-flex flex-column">
                {% for item in bag_items %}
                <div class="mb-3">
                    <div class="card-body">
                        <h3 class="card-title h5">{{ item.product.name }}</h3>
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{item.product.name}}">
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <p class="card-text">Subtotal: {{ item.product.price }}€</p>
                        {% include 'includes/remove.html' with product_id=item.product.id %}
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex flex-column align-items-center">
                    <p class="card-text">Total Price: {{ grand_total }}€</p>
                    <a href="{% url 'checkout' %}" class="cta btn mt-3 w-100 " aria-label="Proceed to checkout"
                        title="Checkout">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
            {% else %}
            <h2 class="text-center h1" aria-label="Your Shopping Bag is Empty">
                Shopping Bag Empty
            </h2>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}