{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Shopping Bag{% endblock %}

{% block content %}
<section class="container mb-2 d-flex flex-column justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <h1 class="text-center">Shopping Bag</h1>
            <div class="d-block d-flex flex-column">
                {% for item in bag_items %}
                <div class="mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{item.product.name}}">
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <p class="card-text">Price: {{ item.product.price }}€</p>
                        <p class="card-text">Subtotal: {{ grand_total }}€</p>
                        {% include 'includes/remove.html' with product_id=item.product.id %}
                    </div>
                </div>
                {% endfor %}
                <div class="d-flex flex-column align-items-center">
                    <a href="{% url 'checkout' %}">
                    <button class="cta btn mt-3 w-100 " aria-label="Click here to proceed to checkout" title="Checkout"
                        type="submit">
                            Proceed to checkout
                        </button>
                    </a>
                </div>
            </div>
            {% else %}
            <h1 class="text-center" aria-label="Your Shopping Bag is Empty">Shopping Bag Empty</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}