{% extends 'base.html' %}

{% block extra_title %}| Order History{% endblock %}

{% block content %}
<h2 class="text-center h1">Your Order History</h2>

{% for order in orders %}
<hr>
<a href="{% url 'order_receipt' order_id=order.id %}" class="hover-border text-center" title="View Receipt"
    aria-label="Click here to view your order in detail">
    View Receipt
</a>
<div class="order-history-item">
    {% include 'includes/summary.html' %}
</div>
{% empty %}
<p class="text-center">You have no orders.</p>
{% endfor %}

{% endblock %}