{% extends "base.html" %}
{% load static %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.tags }} text-center alert-info"> {{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<main>
    <h1 class="text-center">Welcome to Ludus Nexus!</h1>
    <p class="text-center">Dive into the heart of gaming with Ludus Nexus, your ultimate destination for
        <strong>Playstation</strong>,<strong>Xbox</strong>,
        and <strong>Nintendo</strong> games.
        Whether you're a seasoned gamer or just starting out, our carefully curated collection promises to deliver
        endless
        hours of entertainment and excitement.
    </p>

    <h2 class="text-center">Why Register?</h2>
    <p class="text-center">
        <em>Save Your Gaming Legacy</em>: Register with us and keep track of all your epic purchases. Your receipts are
        safely stored in your account, making it easier to manage and revisit your gaming history.
    </p>

    <p class="text-center">Exclusive Updates: Stay ahead in the gaming world with updates and news. (Coming soon!)</p>
    <p class="text-center">Join the Ludus Nexus community today and transform the way you experience gaming. Because
        every hero needs a nexus!</p>
</main>
{% endblock %}