{% extends 'base.html' %}

{% block extra_title %}| Delete Account{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="mb-5">Confirm Delete</h1>
    <p class="text-center mx-2">Are you sure you want to delete your account? This action cannot be undone.</p>

    <form action="{% url 'confirm_delete_account' %}" class="signup mx-3" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="clearfix">
            <a href="{% url 'home' %}" class="hover-border float-left">Cancel</a>
            <button type="submit" class="cta btn float-right">Confirm</button>
        </div>
    </form>
</section>
{% endblock %}