{% load static %}

<section class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col my-2 product" data-tags="{% for tag in product.tags.all %}{{ tag.name }} {% endfor %}">
            <figure class="card h-100 d-flex flex-column justify-content-between">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid"
                    title="{{product.name}}">
                <figcaption class="card-body ">
                    <div class="card-title">{{product.name}}</div>
                    <p class="card-text">{{product.price}} <span class="vertical-align">&euro;</span></p>
                </figcaption>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm {{ console_type }}" data-container="body"
                        data-toggle="popover" data-placement="bottom" data-html="true"
                        data-content="{{product.description}}">
                        <span title="description">Description</span>
                    </button>
                    {% include 'includes/add.html' %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'edit_product' product.id %}"
                        class="btn btn-secondary w-100 mt-2 {% if user.is_staff %} show {% else %} hide {% endif %}">
                        Edit Product
                    </a>
                    <a href="{% url 'delete_product' product.id %}"
                        class="btn btn-danger mt-2 delete-btn w-100 {% if user.is_staff %} show {% else %} hide {% endif %}">
                        Delete Product
                    </a>
                    {% endif %}
                </div>
            </figure>
        </div>
        {% endfor %}
    </div>
</section>