{% load static %}

<section class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
        <div class="col my-2">
            <figure class="card h-100">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top"
                    title="{{product.name}}">
                <figcaption class="card-body d-flex flex-column justify-content-between">
                    <div class="card-title">{{product.name}}</div>
                    <p class="card-text">{{product.price}} <span class="vertical-align">&euro;</span></p>
                </figcaption>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm {{ console_type }}" data-container="body"
                        data-toggle="popover" data-placement="bottom" data-content="{{product.description}}">
                        <span title="description">Description</span>
                    </button>
                </div>
            </figure>
        </div>
        {% endfor %}
    </div>
</section>