/*-------------- Buttons -----------------*/
.btn {
    color: inherit;
}

.btn:hover {
    color: inherit;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem #A367F2
}

/*-------------- Products ----------------*/
.card {
    background-color: transparent;
}

.vertical-align {
    vertical-align: text-top;
}

.light-mode .card-footer,
.light-mode .card-body,
.light-mode .card-img-top {
    background-color: white;
}

.img-fluid {
    height: 200px;
    object-fit: scale-down;
}