@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Griffy&family=Poppins&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Griffy', sans-serif;
}

body {
    min-width: 320px;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

/* --------------------------------------------------------------BUTTON-------------------------------------------------------*/

.hover-border {
    border: 2px solid transparent;
    background-color: transparent;
    color: inherit;
    padding: 5px;
}

.hover-border:hover {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.btn-group button {
    border: 1px solid transparent;
    color: inherit;
}

.cta {
    background-color: #9747FF;
    color: inherit;
}

.cta:hover {
    background-color: #A367F2;
    outline: 2px solid #A367F2;
}

/* --------------------------------------------------------------HEADER-------------------------------------------------------*/
.ludus {
    display: inline-block;
    transform: rotate(10deg);
    font-family: 'Griffy', sans-serif;
}

.nexus {
    display: inline-block;
    transform: rotate(-10deg);
    font-family: 'Griffy', sans-serif;
}

/* --------------------------------------------------------------NAVBAR-------------------------------------------------------*/

/*---------- Dark Mode Color Schema-------------*/

.dark-mode {
    background-color: black;
    color: white;
}

hr {
    border: 3px solid #E5E5E5;
}

.nav-link {
    color: white;
}

.dark-mode .modal-content {
    color: black;
}



/*---------- Light Mode Color Schema-------------*/

.light-mode {
    background-color: #E5E5E5;
    color: black;
}

.light-mode .playstation,
.light-mode .xbox,
.light-mode .nintendo {
    color: black;
}

.light-mode hr {
    border: 3px solid #42413C;
}

.light-mode .hover-border:hover {
    border: 2px solid black;
}

.light-mode #home-icon,
.light-mode #login-icon,
.light-mode #shopping-cart-icon,
.light-mode #theme-switcher {
    background-color: black;
}

.light-mode .navbar-toggler {
    background-color: black;
    color: white;
}

.light-mode .navbar-toggler:hover {
    background-color: white;
    color: black;
}

/* ---------------Navbar Toggler -----------------------*/
.navbar-toggler {
    background-color: white;
}

.navbar-toggler:hover {
    background-color: black;
    color: white;
}

/*------------ Playstation -------------------- */

.playstation {
    background-color: #0070CC;
    font-family: 'Poppins', sans-serif;
}

.playstation:hover {
    background-color: #218DE5;
    outline: 2px solid #218DE5;
}

/*------------ Xbox -------------------- */

.xbox {
    background-color: #107C10;
    font-family: 'Poppins', sans-serif;
}

.xbox:hover {
    background-color: #228822;
    outline: 2px solid #228822;
}

/*------------ Nintendo -------------------- */

.nintendo {
    background-color: #E60012;
    font-family: 'Didact Gothic', sans-serif;
}

.nintendo:hover {
    background-color: #E71B2B;
    outline: 2px solid #E71B2B;
}

/*------------ Home Icon -------------------- */

#home-icon:hover {
    background-color: white;
    color: black;
}

/*------------ Login Icon -------------------- */

#login-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#login-icon:hover {
    background-color: white;
    color: black;
}

/*------------ Shopping Cart Icon -------------------- */

#shopping-cart-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#shopping-cart-icon:hover {
    background-color: white;
    color: black;
}

/*------------ theme switcher Icon -------------------- */

#theme-switcher {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#theme-switcher:hover {
    background-color: white;
    color: black;
}

/*------------ MODAL -------------------- */

.modal-backdrop {
    position: static;
    background-color: transparent;
}

.modal-footer {
    margin: 0.5rem;
    padding: 1rem;
}