@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Griffy&family=Poppins:ital@1&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Griffy', sans-serif;
}

body {
    min-width: 320px;
}

a:hover {
    color: inherit;
}

/*---------- Dark Mode Color Schema-------------*/

.dark-mode {
    background-color: black;
    color: white;
}

.hr-darkmode {
    border: 3px solid #E5E5E5;
}

a {
    color: white;
}

#theme-switcher {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#theme-switcher:hover {
    background-color: white;
    color: black;
}

/* ---------------Navbar -----------------------*/
.navbar-toggler {
    background-color: white;
}

/*------------ Playstation -------------------- */

.playstation {
    background-color: #0070CC;
    font-family: 'Poppins', sans-serif;
}

.playstation:hover {
    background-color: #218DE5;
}

/*------------ Xbox -------------------- */

.xbox {
    background-color: #107C10;
    font-family: 'Poppins', sans-serif;
}

.xbox:hover {
    background-color: #228822;
}

/*------------ Nintendo -------------------- */

.nintendo {
    background-color: #E60012;
    font-family: 'Didact Gothic', sans-serif;
}

.nintendo:hover {
    background-color: #E71B2B;
}

/*------------ Home Icon -------------------- */

#home-icon:hover {
    background-color: white;
    color: black;
}

/*------------ Login Icon -------------------- */

#login-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#login-icon:hover {
    background-color: white;
    color: black;
}

/*------------ Shopping Cart Icon -------------------- */

#shopping-cart-icon {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}

#shopping-cart-icon:hover {
    background-color: white;
    color: black;
}