{% extends "base.html" %}
{% load i18n %}

{% block extra_title %}| Sign In{% endblock %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="mb-5">Sign In</h1>
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="clearfix">
        <div class="float-left">
          <a class="hover-border" href="{% url 'account_reset_password' %}">Forgot Password?</a> <br class="">
          <a href="{{ signup_url }}" class="hover-border">Create Account</a>
        </div>
        <div class="float-right">
          <button class="cta btn" type="submit">Sign In</button>
        </div>
      </div>
    </form>
</section>
{% endblock %}