{% extends "base.html" %}

{% load i18n %}

{% block extra_title %}| Sign Out{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">
  <h1 class="mb-5">Sign Out?</h1>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="cta btn">{% trans 'Sign Out' %}</button>
  </form>
</section>

{% endblock %}