{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}| Password Reset{% endblock %}

{% block content %}
<section class="d-flex flex-column justify-content-center align-items-center h-100">

    <h1 class="mb-5">Password Reset</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center mx-3">
        We have sent you an e-mail. Please contact us if you do not receive it within a few
        minutes.
    </p>
    {% endblock %}
</section>