{% extends "base.html" %}

{% block extra_title %}| Sign Up{% endblock %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center h-100">
  <h2 class="mb-5 h1">Sign Up</h2>

  <p class="text-center mx-2">Already have an account? Then click here to
    <a href="{{ login_url }}" class="hover-border">
      sign in
    </a>
  </p>

  <form class="mx-3" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div>
      <button type="submit" class="cta btn w-100">Sign Up</button>
    </div>
  </form>
</section>
{% endblock %}